/temp.py
/Example_MOPAC_Original_Output/
/.idea/
/temp/
/MOPAC2012.exe.spec
/Process_Job.exe.spec
/std_mopac_output_file.txt
/Example_MOPAC_Original_Output/
/example/
/nsis-3.10-setup.exe
Example_MOPAC_Original_Output/Untitled-2.aux
Example_MOPAC_Original_Output/Untitled-2.out
